<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spam-Ham Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src= "https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style type="text/css">
      .form{
        display:none;
      }
    </style>
  </head>
  <body>
    {% load static %}
    {% load bootstrap4 %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'home' %}">Spam-Ham Classification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav align-items-center ml-auto">
            {% if user.is_authenticated %}
            <a class="nav-link nav-item" href="{% url 'redirect_profile' %}">Profile <span class="sr-only">(current)</span></a>
            <a class="nav-link nav-item" href="{% url 'classify_spam_ham' %}">Classify</a>
            <a class="nav-link nav-item" href="{% url 'logout' %}">Log out</a>
            <a class="nav-link nav-item" href="#">{{user.username}}</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}" aria-label="Login">
              <span class="fa fa-user" aria-hidden="true"> Login</span>
            </a>
            {% endif %}
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="jumbotron">
        <h1>Spam-Ham Classification</h1>
      </div>
      <form action="{% url 'result' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-check">
          <input class="form-check-input" value="message" type="radio"
            name="options" id="msg-option" placeholder="Username \nTweet">
          <label class="form-check-label" for="msg-option">
            Check a single tweet
          </label>
        </div>
        <div class="message form">
          <p>
          <strong>Enter the tweet in following format:</strong><br>
          Username<br>
          Tweet
          </p>
          <p>
          <strong>Example:</strong><br>
          Jake Peralta<br>
          An example tweet posted at https://www.examplepage.com
          </p>
          {% bootstrap_form m_form %}
        </div>
        <div class="form-check">
          <input class="form-check-input" value="file" type="radio" name="options" id="file-option">
          <label class="form-check-label" for="file-option">
            Upload a file to check for multiple tweets
          </label>
        </div>
        <div class="file form">
          <p>
            <strong>
              Upload the file in .csv (Comma Separated Values) format only, as per the example below.
            </strong>
            <table border="3">
              <thead>
                <th>Username</th>
                <th>Tweet</th>
              </thead>
              <tbody>
                <td>Jake Peralta</td>
                <td>An example tweet posted at https://www.examplepage.com</td>
              </tbody>
              <tbody>
                <td>Amy Santiago</td>
                <td>Another example tweet posted at https://www.examplepage.com</td>
              </tbody>
              <tbody>
                <td>Captain Holt</td>
                <td>Yet another example tweet posted at https://www.examplepage.com as well as http://www.examples.com</td>
              </tbody>
            </table>
          </p>
          {% bootstrap_form f_form %}
        </div>
        <script type="text/javascript">
          $(document).ready(function(){
            $('input[type="radio"]').click(function() {
                    var inputValue = $(this).attr("value");
                    var targetBox = $("." + inputValue);
                    $(".form").not(targetBox).hide();
                    $(targetBox).show();
                });
            });
        </script>
        <p>
          <strong>*Please Note: Not following the given format may result in unexpected results.</strong>
        </p>
        <input type="submit" name="submit" value="Predict" class="btn btn-primary btn-lg">
      </form>
    </div>
  </body>
</html>
